@font-face{
  font-family: goodtimes;
  src: url(font/goodtimes.ttf);
}
@font-face{
  font-family: farfromhome;
  src: url(font/FarFromHomecoming.otf);
}
@font-face{
  font-family: amazing;
  src: url(font/TheAmazingSpiderMan.ttf);
}
@font-face{
  font-family: mighty;
  src: url(font/mightyspidey.ttf);
}
@media screen and (min-width: 601px) {
  #f-heading{
    font-size: 40px;
  }
  #hbd{
  	font-size: 50px;
  }

}

@media screen and (max-width: 600px) {
  #f-heading{
    font-size:25px;
  }
  #hbd{
  	font-size:55px;
  }

}

body {
background-image:url("sp.jpg") ;	
 background-attachment: fixed;
 background-size: cover;
 ackground-origin: content-box;
 background-size: 105% 100%;
 background-position: center;


 
}

#logo{
	font-family:'Carter One'; 'Andika';
	font-size:20px;
}

#f-heading{
	font-family: 'mighty';
	fot-size: 5vw;
	margin-top:60px;
	padding-top: 40px;
	color:white;
}


#scroll{
	backgrond-color:#ffffff80;
	color:black;
	border:blue;	
	padding:10px;
}

#name{
	color:#ef9d9d;
	font-family: 'farfromhome';
}

.w-box{
	font-size: 10px;
	margin:20px;
	padding:15px;
	word-break:break-all;
	background-color: #c874744d;
	color:#e6d57d;
	
	font-family: 'goodtimes';

	
}

#wisher{
	padding-right: 2px;
	color:white;
	font-family: fantasy;
}

#hbd{
		font-family:'farfromhome';
		font-size: vw;	
		margin-top:30px;
		text-transform:uppercase;
		color:white;			

}

.input-c{
	margin:10px;
	font-family: 'fantasy';

}
.input-b{
	margin:10px;
	font-family: 'goodtimes';
	background-color: #091f3a;

}
.btn-primary{
	background-color: #091f3a;
}
.foot{
	background-color: black;
	position: fixed;
}
