{% extends 	'a_site/nav.html' %}

{% block content %}



<title>wish afridy</title>
<head lang="en">
	
	<div id="w-heading" class="text-center">
		Send Birthday wishes to Afridy
	</div>
	
	<form action="{% url 'a_site:validate' uname %}" method="post">
	{% csrf_token %}
	  <div class="form-group container">
	  <div class="input-c">
	    <span class="form-top ">Type your wishes</span>
	  
	  <textarea type="text" class="form-control" aria-label="With textarea" name="wish" maxlength="1000" placeholder="send your wishes to  jaya"></textarea>
	</div>
	<div class="input-c">
	    <span class="form-top" ">wishes from</span>
	  
	  <input type="text" class="form-control" aria-label="With textarea" name="wname" value="anonymous" maxlength="50"></input>
	</div>
	<button type="submit" class="btn btn-default btn-primary input-b">Submit</button>
	</div>
	</form>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock  %}