<!DOCTYPE html>
<hmtl>
<head lang="en">
	<title>all your wishes</title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	body {
 background-attachment: fixed;
  nd-position: center; 


}
.b-primary {
    background-color:#5937c980;
}
#logo{
	font-family:'Carter One'; 'Andika';
	font-size:20px;
}

#f-heading{
	font-family: 'Caesar Dressing';
	font-size:100px;
	margin-top:40px;
}


#scroll{
	background-color:#0000004d;
	border:blue;	
	padding:10px;
}

#name{
	color:black;
}
.w-box{
	margin:10px;
	padding:10px;
	word-break:break-all;
	background-color: #1731db4d;
	color:#e1f242;

	
}

.input-c{
	margin:10px

}
	</style>
	<link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="b-primary">
	<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a id="logo"  class="navbar-brand" href="#">ANOMYMOUS WISHES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'a_site:index'%}">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'a_site:insert'%}">wish Afridy </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'a_site:wishes'%}">wishes <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
	<div id="f-heading" class="text-center">
		GSAH
	</div>
	

	<div class="container primary">
		<h1>Wishes</h1>
		
	</div>
	<div id="scroll" class="container rouned">
		{% for  w in wishes.all %}
		<div class="w-box rounded">
		<h3 >{{w.w_text}}</h3><h5 id="name">---{{w.name}}</h5>
		</div>
		{% endfor %}
	</div>
	<div class="container-fluid text-center fixed-botom">
		&copy mk 2019-2021
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
